<h1>Task Manager</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to new_task_path, class: "btn btn-success" do %>
  <i class="bi bi-plus-lg"></i> Create a new task
<% end %>
